/* Banner.css */
.banner {
    margin-bottom: 5px;
    margin-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px; 
    border-style:solid white;
    border-radius: 10px;


    
  
}

  